<app-navbar></app-navbar>
<section class="faceImage">
  <img src="parroquiaWallpaper.png" alt="">
</section>
<section class="news">
  <div>
    <p>Deseando que nuestro Señor Jesucristo, nos llene de bendiciones, en cada una de nuestras áreas y abra nuestros corazones ante éste nuevo año pastoral.</p>
    <h1>Parroquia "Cristo Hijos de Dios"</h1>
  </div>
  <div class="d-flex gap-5 card-list flex-wrap">
    <app-card
    imgSrc="card1.png"
    title=""
    description=""
    ></app-card>
    <app-card
    imgSrc="card2.png"
    title=""
    description=""
    ></app-card>
    <app-card
    imgSrc="card3.png"
    title=""
    description=""
    ></app-card>
  </div>
  <div>
    <p>¡Vive tu fe y tradiciones!</p>
    <h2>NOTICIAS RECIENTES</h2>
    <p>Aquí podras encontrar las noticas mas recientes que tiene preparada la iglesia para tí.</p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">Leer más</button>
    </div>
  </div>
</section>
<section class="programs">
  <div>
    <h3>“Descubre los sacramentos, fortalece tu vida espiritual”</h3>
    <h1>“Programas de formación cristiana para niños, jóvenes y adultos.”</h1>
  </div>
  <div class="d-flex gap-5 flex-wrap second-card-list">
    <app-card
    imgSrc="bautismo.png"
    title="Bautismo"
    ></app-card>
    <app-card
    imgSrc="comunion.png"
    title="Comunión de adolescentes"
    ></app-card>
    <app-card
    imgSrc="confirmacion.png"
    title="Confirmación de jovenes"
    ></app-card>
    <app-card
    imgSrc="catequesis.png"
    title="Catequesis de adultos"
    ></app-card>
  </div>
  <div>
    <div class="d-flex gap-2 align-center mx-auto">
      <button class="btn btn-primary" type="button">Leer más</button>
    </div>
  </div>
</section>
<section class="news">
  <div>
    <p>Crece en la fe, vive en comunidad, comparte el amor de Cristo</p>
    <h1>“Participa”, “Encuentra”, “Acércate”.</h1>
  </div>
  <div class="d-flex gap-5 card-list flex-wrap">
    <app-card-text
    iconClass="bi bi-4-square"
    title="Horarios de misa"
    days="Lunes a viernes"
    dates="12:00 m y 6:00 p.m."
    days2="Sabados y domingos"
    dates2="10:00 am a 1:00 pm">
    </app-card-text>
    <app-card-text
    iconClass="bi bi-4-square"
    title="Horarios de misa"
    days="Lunes a viernes"
    dates="12:00 m y 6:00 p.m."
    days2="Sabados y domingos"
    dates2="10:00 am a 1:00 pm">
    </app-card-text>
    <app-card-text
    iconClass="bi bi-4-square"
    title="Horarios de misa"
    days="Lunes a viernes"
    dates="12:00 m y 6:00 p.m."
    days2="Sabados y domingos"
    dates2="10:00 am a 1:00 pm">
    </app-card-text>
  </div>
</section>